<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>rabbitMQ 消息提醒示例</title>
    <link rel="stylesheet" type="text/css" th:href="@{/default.css}">
    <link rel="stylesheet" type="text/css" href="@{/jquery.notify.css}">

    <script type="text/javascript" th:src="@{/stomp.js}"></script>
    <script type="text/javascript" th:src="@{/jquery.min.js}"></script>
    <script type="text/javascript" src="@{/jquery.notify.js}"></script>
</head>
<script type="text/javascript">
    $(function () {
        $.notifySetup({sound: 'jquery.notify.wav'});

        //创建客户端
        var client = Stomp.client("ws://172.16.15.105:15674/ws");
        //定义连接成功回调函数
        var onConnect = function () {
            //订阅商品折扣主题的消息
            client.subscribe("/exchange/mailExchange/shopping.discount", function (message) {
                //弹出业务消息提醒，并停留10秒
                $("<p>" + message.body + "</p>").notify({stay: 10000});
            });

        };
        //定义错误时回调函数
        var onError = function (msg) {
            $("<p>服务器错误：" + msg + "</p>").notify("error");
        };
        //连接服务器
        client.connect("allen", "allen", onConnect, onError);
        client.heartbeat.incoming = 5000;
        client.heartbeat.outgoing = 5000;

    });

</script>

<body>

</body>
</html>